.ios .title-default .hydrated {
    padding-inline: 0px;
}

ion-item {
    --inner-padding-end: 0;
    --padding-start: 0;
}

#ForRadioOptions .alert-radio-label.sc-ion-alert-md,
.alert-radio-label.sc-ion-alert-ios {
    white-space: normal;
}
.alert-tappable.alert-radio {
    height: auto;
    contain: content;
}

#ForCheckbox .alert-checkbox-label.sc-ion-alert-md,
.alert-checkbox-label.sc-ion-alert-ios {
    white-space: normal;
}
.alert-tappable.alert-checkbox {
    height: auto;
    contain: content;
}
